
#logoWrapper {
    text-align: left;
    width: 100%;
}

#logo {
    right: 0;
    padding: 0 6pt;
    display: inline-block;
}

#logoText {
    float: none;
    display: inline-block;
}

#mobile-header, #nav-button {
    height: 48pt;
    overflow: hidden;
    display: none;
    bottom: 0;
}

#mobile-header {
    width: 100vw;
    position: fixed;
}

#nav-button {
    width: 48pt;
    background-image: url(../media/img/nav-button.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 700px) {
    
    /* Makes #mobile-header visible */
    #mobile-header {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    #nav-button-container, nav {
        width: 250px;
        transition: transform 0.33s;
    }
    
    #nav-button {
        display: block;
    }
    
    nav {
        left: -250px;
        margin: 0;
        position: fixed;
        height: 100vh;
        overflow: scroll;
    }
    
    nav ul {
        padding: 0;
    }
    
    nav ul li {
        display: block;
        width: 100%;
    }
    
    nav ul li a, #logoWrapper {
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        color: white;
        display: block;
        font-size: 20pt;
        text-align: left;
        padding: 4pt 8pt;
        width: 100%;
    }
    
    #logoWrapper {
        font-size: 12pt;
        padding-bottom: 15pt;
    }
    
}